<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>中山金杯（GG3）</title>
  <link rel="stylesheet" href="../styles-race.css" />
  <link rel="stylesheet" href="../common.css" />
</head>
<body>
  <article class="race-detail">

    <!-- 🏇 レース画像＆ヘッダー -->
    <div class="race-header">
      <img src="../images/{{image_name}}" alt="中山金杯 GG3" class="race-mainvisual" />

      <div class="race-meta">
        <h1 class="race-title-main">
          中山金杯 <span class="grade-label gG3">GG3</span>
        </h1>

		<!-- レース予想リンク表示位置 -->
		<a href="https://note.com/coro_pepa/n/n14528da47b87?app_launch=false" target="_blank" rel="noopener" class="text-banner-link">
		  <div class="text-banner">
		    {% for line in lead_banner_text %}
		      <p class="text-banner-line">{{ line }}</p>
		    {% endfor %}
		  </div>
		</a>

      </div>
    </div>

    <!-- 🎯 見どころ -->
    <section class="race-section highlight">
      <h3>🎯 見どころ</h3>
      <p><p><strong>中山金杯</strong>は中山芝2000mで行われる<strong>年明け初戦の伝統ハンデGIII</strong。<strong>内枠先行有利＋差し馬の台頭も可能</strongな舞台で、<strong>4連勝中の牝馬カネラフィーナ</strongが注目の中心。<strong>中山実績抜群のマイネルモーント</strongや<strong>重賞好走歴あるアンゴラブラック</strongも有力。他にも<strong>京成杯勝ちのニシノエージェント</strong、<strong>札幌記念4着のケイアイセナ</strong、<strong>新潟大賞典覇者シリウスコルト</strongなど<strong>中距離巧者が集結</strong。<strong>波乱度「中」～「高」</strongの一戦で、<strong>斤量差＋枠順＋展開読み</strongが馬券攻略のカギとなりそうです。</p></p>
    </section>

    <!-- 📊 展開予想 -->
    <section class="race-section preview">
      <h3>📊 展開予想</h3>

      <div class="preview-text">
        <div class='note-preview'><p>中山金杯は<strong>中山芝2000mの内回りで先行力＋機動力が鍵</strong>となる一戦で、<strong>逃げ候補は①アンゴラブラックと③カネラフィーナ</strong>、①は最内からハナ主張、③は行き脚良く番手も可能。<strong>先行勢には④カラマティアノス、⑤グランディア、⑥ケイアイセナ</strong>が続き、④は中山巧者、⑤は自在性が武器、⑥は7歳でも先行粘りが魅力。<strong>差し勢では⑦シリウスコルトと⑧ニシノエージェント</strong>が有力で、⑦は58.5kgでも末脚堅実、⑧は4歳勢の成長力が魅力。<strong>展開の焦点は①が単騎逃げでスローに落とすか③が競りかけて平均ペースに持ち込むか</strong>で、スローなら④⑤⑥の押し切り、平均～速めなら⑦⑧の差し台頭も。<strong>今年はハンデ戦で、斤量差＋枠順＋位置取りが勝敗を左右</strong>し、<strong>軸候補は④カラマティアノスと⑦シリウスコルト</strong>、①アンゴラブラックの逃げ残りや③カネラフィーナの粘り込みにも注意。</p></div>
      </div>
		<!-- レース予想リンク表示位置 -->
		<a href="https://note.com/coro_pepa/n/n14528da47b87?app_launch=false" target="_blank" rel="noopener" class="text-banner-link">
		  <div class="text-banner">
		    {% for line in lead_banner_text %}
		      <p class="text-banner-line">{{ line }}</p>
		    {% endfor %}
		  </div>
		</a>
    </section>


    <!-- 🐎 レース回顧 -->
    <section class="race-section review">
      <h3>🐎 レース回顧</h3>
      {{review}}
    </section>

    <footer>
      <a href="../index.html">🏠 トップページへ戻る</a>
    </footer>
  </article>
</body>
</html>
